node_modules
*.log
server/fb-service-account.json
server/service-account.json
config.json
.env
*.sql
.DS_Store
node_modules/
firebase-service-accounts.json
firebase-service.json
server/firebase-service.json

uploads/
