<table id="currentFilesTable" cellspacing="0">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Info</th>
      <th>View</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody id="tableBody">
    <tr ng-repeat="file in files.currentFilesObject">
      <td>{{file.originalName}}</td>
      <td>{{file.fileInfo}}</td>
      <td>
        <md-button ng-click="files.showPreview($event, $index)" class="md-icon-button" aria-label="view">
          <md-icon md-svg-icon="./img/pdf.svg"></md-icon>
        </md-button>
      </td>
      <td>
        <md-button ng-click="files.deleteCurrentFile($index)" class="md-icon-button" aria-label="delete">
          <md-icon md-svg-icon="./img/delete.svg"></md-icon>
        </md-button>
      </td>
    </tr>
  </tbody>
</table>
