<md-card>
  <md-card-content>
    <div layout="row" layout-align="center center" layout-wrap="" class="layout-wrap layout-sm-column layout-align-center-center layout-row">
      <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="dash.newJob()">
        <span class="ng-scope">New Job</span>
        <div class="md-ripple-container"></div>
      </button>
      <div layout="column">
        <md-checkbox ng-model="dash.show.completed" ng-change="dash.statusFilter(dash.show)">
          Show Completed Jobs
        </md-checkbox>
        <md-checkbox ng-model="dash.show.declined" ng-change="dash.statusFilter(dash.show)">
          Show Declined Jobs
        </md-checkbox>
      </div>
      <span>Results: {{(dash.filtered  | filter: query).length}} </span>
      <md-input-container class="md-block">
        <label for="input_23">Search</label>
        <input ng-model="query"  class="ng-pristine ng-valid md-input ng-empty ng-touched" aria-invalid="false"  style="">
        <div class="md-errors-spacer"></div>
      </md-input-container>
    </div>

    <div layout="row" layout-sm="column" layout-align="center center" layout-wrap="" class="layout-wrap layout-sm-column layout-align-center-center layout-row">
      <table>
        <thead>
          <tr>
            <th>Survey #</th>
            <th>Job #</th>
            <th>Client</th>
            <th>Status</th>
            <th>Last Modified</th>
            <th>Survey Date</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="survey-items" data-ng-repeat="result in dash.filtered  | filter: query |  startFrom:dash.currentPage*dash.pageSize | limitTo:dash.pageSize">
            <td>{{result.id}}</td>
            <td>{{result.job_number}}</td>
            <td>{{result.client_name}}</td>
            <td>{{result.status}}</td>
            <td>{{result.last_modified}}</td>
            <td>{{result.survey_date}}</td>
            <td><div class="md-icon-button md-ink-ripple itemBtn" aria-label="view">
              <md-icon ng-click="dash.survey(result.id)" md-svg-icon="./img/pdf.svg"></md-icon>
            </div></td>
            <td><div class="md-icon-button md-ink-ripple itemBtn" aria-label="edit">
              <md-icon ng-click="dash.area()" md-svg-icon="./img/edit.svg"></md-icon>
            </div></td>

          </tr>
        </tbody>
      </table>
      </div>
      <div layout="row" layout-align="center center" layout-wrap="" class="layout-wrap layout-sm-column layout-align-center-center layout-row">
        <md-button ng-class="md-mini" ng-disabled="dash.currentPage == 0" ng-click="dash.currentPage=dash.currentPage-1">
          Previous
        </md-button>
          {{dash.currentPage+1}}/{{(dash.filtered  | filter: query).length % dash.pageSize}}
        <md-button ng-class="md-mini" ng-disabled="dash.currentPage >= ((dash.filtered  | filter: query).length % dash.pageSize - 1)" ng-click="dash.currentPage=dash.currentPage+1">
          Next
        </md-button>
      </div>


    </md-card-content>
  </md-card>
