<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="" class="layout-wrap layout-sm-column layout-align-center-center layout-row">

      <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="dash.logIn()">
        <span class="ng-scope">Log In</span>
        <div class="md-ripple-container"></div>
      </button>

</section>
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="" class="layout-wrap layout-sm-column layout-align-center-center layout-row">

  <table>
    <thead>
      <tr>
        <th>Survey #</th>
        <th>Job #</th>
        <th>Client</th>
        <th>Status</th>
        <th>Last Modified</th>
        <th>Survey Date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
      </tr>
    </tbody>
  </table>

</section>
