<md-card>
  <md-card-content ng-hide="ma.loading">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </md-card-content>
  <md-card-content ng-show="ma.loading">
    <div layout="row">
      <div layout="column">
        <!--company name  -->
        <div class="row" layout-align="left">
          <div ng-show="ma.showInput" class="client-name" layout="row" layout-align="left">
            <h1> <i>{{ma.companyInfo.client_name}}</i> </h1>
          </div>
          <md-input-container ng-hide="ma.showInput" md-no-float class="md-block" flex-gt-xs>
            <input ng-model="ma.companyInfo.client_name" placeholder="Company Name">
          </md-input-container>
        </div>
        <!-- Data Row  -->
        <div class="area-survey-header" layout="row">
          <div layout="column" layout-align="start start">
            <ul layout="column" class="client-address">
              <li><b>Survey Address</b></li>
              <li ng-show="ma.showInput">{{ma.companyInfo.survey_address_street}}</li>
              <li ng-show="ma.showInput">{{ma.companyInfo.survey_address_city}}, {{ma.companyInfo.survey_address_state}}</li>
              <li ng-show="ma.showInput">{{ma.companyInfo.survey_address_zip}}</li>
            </ul>
            <md-input-container ng-hide="ma.showInput" md-no-float class="md-block"><input ng-model="ma.companyInfo.survey_address_street" placeholder="Street Address"></md-input-container>
            <md-input-container ng-hide="ma.showInput" md-no-float class="md-block"><input ng-model="ma.companyInfo.survey_address_city" placeholder="City"></md-input-container>
            <md-input-container ng-hide="ma.showInput" md-no-float class="md-block"><input ng-model="ma.companyInfo.survey_address_state" placeholder="State"></md-input-container>
            <md-input-container ng-hide="ma.showInput" md-no-float class="md-block"><input ng-model="ma.companyInfo.survey_address_zip" placeholder="Zip"></md-input-container>
          </div>
          <div layout="column" layout-align="start center">
            <ul>
              <li><b>Primary Contact</b></li>
              <li ng-show="ma.showInput">{{ma.companyInfo.primary_contact_name}}</li>
              <li ng-show="ma.showInput">{{ma.companyInfo.primary_contact_phone_number}}</li>
              <li ng-show="ma.showInput">{{ma.companyInfo.primary_contact_email}}</li>
            </ul>
              <md-input-container ng-hide="ma.showInput" md-no-float class="md-block" ><input ng-model="ma.companyInfo.primary_contact_name" placeholder="Company Contact Name"></md-input-container>
              <md-input-container ng-hide="ma.showInput" md-no-float class="md-block" ><input ng-model="ma.companyInfo.primary_contact_phone_number" placeholder="Phone Number"></md-input-container>
              <md-input-container ng-hide="ma.showInput" md-no-float class="md-block" ><input ng-model="ma.companyInfo.primary_contact_email" placeholder="Email"></md-input-container>
          </div>
          <div layout="column" layout-align="start center">
            <ul >
              <li><b>Alternate Contact</b></li>
              <li ng-show="ma.showInput">{{ma.companyInfo.alt_contact_name}}</li>
              <li ng-show="ma.showInput">{{ma.companyInfo.alt_phone_number}}</li>
              <li ng-show="ma.showInput">{{ma.companyInfo.alt_contact_email}}</li>
            </ul>
            <md-input-container ng-hide="ma.showInput" md-no-float class="md-block" ><input ng-model="ma.companyInfo.alt_contact_name" placeholder="Alt Company Contact Name"></md-input-container>
            <md-input-container ng-hide="ma.showInput" md-no-float class="md-block" ><input ng-model="ma.companyInfo.alt_phone_number" placeholder="Alt Phone Number"></md-input-container>
            <md-input-container ng-hide="ma.showInput" md-no-float class="md-block" ><input ng-model="ma.companyInfo.alt_contact_email" placeholder="Alt Email"></md-input-container>
          </div>
        </div>
      </div>
      <div layout="column" layout-align="start" class="area-survey-header">
        <h1 ng-show="ma.showInput"><i>Job# {{ma.companyInfo.job_number}}</i></h1>
        <md-input-container ng-hide="ma.showInput" md-no-float class="md-block" ><input ng-model="ma.companyInfo.job_number" placeholder="Job Number"></md-input-container>
        <ul>
          <li><b>Survey Date:</b></li>
          <!-- <li ng-show="ma.showInput">{{ma.companyInfo.survey_date}}</li> -->
          <md-input-container  md-no-float>
            <md-datepicker ng-model="ma.surveyDate" ng-disabled="ma.showInput" ng-change="ma.companyInfo.survey_date = ma.surveyDate.toISOString()" placeholder="Survey Date"></md-datepicker>
          </md-input-container>
          <li><b>Completion Date:</b></li>
          <!-- <li ng-show="ma.showInput">{{ma.companyInfo.completion_date}}</li> -->
          <md-input-container  md-no-float>
            <md-datepicker ng-model="ma.completionDate" ng-disabled="ma.showInput" ng-change="ma.companyInfo.completion_date = ma.completionDate.toISOString()" placeholder="Survey Date"></md-datepicker>
          </md-input-container>
        </ul>
      </div>
    </div>
    <div layout="row" layout-align="start">
      <md-button ng-show="ma.showInput" ng-click="ma.showInput = !ma.showInput;" class="md-raised md-primary" aria-label="edit client profile">
        Edit Client Profile
      </md-button>
      <md-button ng-hide="ma.showInput" ng-click="ma.updateClient()" class="md-raised md-primary" aria-label="edit client profile">
        Save
      </md-button>
    </div>
  </md-card-content>
</md-card>

<md-card ng-show="ma.loading">
  <md-card-content>
    <div layout="row">
      <md-button ng-hide="ma.editAreas" ng-click="ma.editAreas = !ma.editAreas" class="md-primary" aria-label="Select Areas to Delete">
        Select Areas to Delete
      </md-button>
      <md-button ng-show="ma.editAreas" ng-click="ma.showConfirm($event)" class="md-primary" aria-label="delete selected areas">
        Delete Selected Areas
      </md-button>
      <md-button ng-show="ma.editAreas" ng-click="ma.editAreas = !ma.editAreas" class="md-primary" aria-label="cancel">
        Cancel
      </md-button>
    </div>
    <section class="areas">
  <!-- ng-repeat divs for every area we have added plus one div for add new area-->
      <div class="add-new-area" ng-hide="ma.editAreas">
        <p ng-hide="ma.inputAreaName" ng-click="ma.inputAreaName = true" id="plus">+</p>
        <div class="area-input" ng-show="ma.inputAreaName">
          <input type="text" ng-model="ma.newAreaName"><br>
          <button type="button" ng-click="ma.addNewArea()">Submit</button>
        </div>
      </div>

      <md-button  ng-repeat="area in ma.areaArray track by $index" ng-class="{'for-delete': ma.toRemove[$index] === true}" class="measurement-areas" ng-click="ma.areaClick($index)">
        <p>{{area}} {{ma.areaArrayId[$index]}}</p><br>
      </md-button>

    </section>
  </md-card-content>
</md-card>
