<div layout="column" layout-align="space-between stretch">
  <md-card ng-hide="measure.loading" flex="100">
    <md-card-content >
      <div layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </md-card-content>
  </md-card>
  <md-card class="loggedOut" ng-show="measure.loggedOut">
    <md-card-content>
      <div layout="row" layout-align="space-between center">
        <h3>You are logged out and will be redirected to the login screen.</h3>
      </div>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-content ng-show="measure.loading">
      <div layout="row" class="client-name" layout-align="space-around center">
        <h1><i>Job# {{measure.companyInfo.job_number}}</i></h1>
        <h1> <i>{{measure.companyInfo.client_name}}</i> </h1>
      </div>
      <div layout="row" layout-align="start center">
        <md-button ng-click="measure.backToArea()" class="md-raised md-primary md-button md-ink-ripple back-to-area">
          <span>Save and Go Back to Areas</span>
        </md-button>
        <div layout="column" layout-align="space-around center">

          <label>Survey Date:</label>
          <md-datepicker ng-model="measure.surveyDate" ng-disabled="true" ng-change="measure.companyInfo.survey_date = measure.surveyDate.toISOString()" placeholder="Survey Date">
          </md-datepicker>
        </div>
        <div layout="column" layout-align="space-around center">

          <label>Completion Date:</label>
          <md-datepicker ng-model="measure.completionDate" ng-change="measure.companyInfo.completion_date = measure.completionDate.toISOString()" ng-disabled="true" placeholder="Completion Date">
          </md-datepicker>
        </div>
      </div>
    </md-card-content>
  </md-card>

  <!-- FILES -->
  <div ng-show="measure.loading" layout="row" layout-align="space-between stretch" layout-wrap ng-controller="FileController as files">
    <md-card flex>
      <md-card-title id="addFiles">
        <md-card-title-text>
          <span id="cardTitle" class="md-subhead">Add Files</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="row" layout-wrap>
        <div ng-include="'/views/templates/new-files.html'"></div>
      </md-card-content>
    </md-card>
    <md-card flex>
      <md-card-title id="addFiles">
        <md-card-title-text>
          <span id="cardTitle" class="md-subhead">Current Files</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="row" layout-wrap>
        <div ng-include="'/views/templates/current-files.html'"></div>
      </md-card-content>
    </md-card>
  </div>
  <!-- END FILES -->
  <div ng-show="measure.loading" layout="row" layout-align="center center" flex="100" layout-fill layout-wrap>
    <md-card flex="100">
      <md-card-title id="measurementTitle">
        <div layout="column">
          <md-card-title-text >
            <span id="cardTitle" class="md-subhead"><u>Area:</u>  {{measure.area_name}}</span>
          </md-card-title-text>
        </div>
      </md-card-title>
      <md-card-content>
        <table id="measurementsTable"  cellspacing="0">
          <thead>
            <tr id="headerRow">
              <th>Floor</th>
              <th>Room</th>
              <th>Quantity</th>
              <th>Width</th>
              <th>Length</th>
              <th>IB/OB</th>
              <th>Controls</th>
              <th>Fascia Size</th>
              <th>Fabric</th>
              <th>Mount</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody class="tableBody">
            <tr ng-repeat="dimension in measure.measurements track by $index" class="tableBodyRow" ng-class="{'toastColorRed': dimension.id == measure.deleteColor, 'noToastColor': dimension.id != measure.deleteColor}" >

              <td ng-show="measure.measurements[$index].edit">{{dimension.floor}}</td>
              <td ng-hide="measure.measurements[$index].edit" class="inputTd">
                <md-input-container>
                  <input ng-model="measure.measurements[$index].floor" size="6"  aria-label="floor">
                </md-input-container>
              </td>
              <td ng-show="measure.measurements[$index].edit">{{dimension.room}}</td>
              <td ng-hide="measure.measurements[$index].edit" class="inputTd">
                <md-input-container>
                  <input ng-enter="measure.updateRowButton($index)" ng-model="measure.measurements[$index].room" size="6" aria-label="room">
                </md-input-container>
              </td>
              <td ng-show="measure.measurements[$index].edit">{{dimension.quantity}}</td>
              <td ng-hide="measure.measurements[$index].edit" class="inputTd">
                <md-input-container>
                  <input ng-enter="measure.updateRowButton($index)" ng-model="measure.measurements[$index].quantity" size="6"  aria-label="room">
                </md-input-container>
              </td>
              <td ng-show="measure.measurements[$index].edit">{{dimension.width}}</td>
              <td ng-hide="measure.measurements[$index].edit" class="inputTd">
                <md-input-container>
                  <input ng-enter="measure.updateRowButton($index)" ng-model="measure.measurements[$index].width" size="6"  aria-label="width">
                </md-input-container>
              </td>
              <td ng-show="measure.measurements[$index].edit">{{dimension.length}}</td>
              <td ng-hide="measure.measurements[$index].edit" class="inputTd">
                <md-input-container>
                  <input ng-enter="measure.updateRowButton($index)" ng-model="measure.measurements[$index].length" size="6"  aria-label="length">
                </md-input-container>
              </td>
              <td ng-show="measure.measurements[$index].edit">{{dimension.ib_ob}}</td>
              <td ng-hide="measure.measurements[$index].edit" class="inputTd">
                <md-input-container>
                  <md-select ng-model="measure.measurements[$index].ib_ob" aria-label="IB/OB"> <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
                    <md-option type="text" value="" aria-label=""></md-option>
                    <md-option type="text" value="IB" aria-label="IB">IB</md-option>
                    <md-option type="text" value="OB" aria-label="OB">OB</md-option>
                  </md-select>
                </md-input-container>
              </td>

              <td ng-show="measure.measurements[$index].edit">{{dimension.controls}}</td>
                  <td ng-hide="measure.measurements[$index].edit" class="inputTd">
                    <md-input-container>
                      <input ng-enter="measure.updateRowButton($index)" ng-model="measure.measurements[$index].controls" size="6"  aria-label="controls">
                    </md-input-container>
                  </td>

                  <td ng-show="measure.measurements[$index].edit">{{dimension.fascia_size}}</td>
                  <td ng-hide="measure.measurements[$index].edit" class="inputTd">

                    <md-input-container>
                      <input ng-enter="measure.updateRowButton($index)" ng-model="measure.measurements[$index].fascia_size" size="6"  aria-label="fascia_size">
                    </md-input-container>
                  </td>

                  <td ng-show="measure.measurements[$index].edit">{{dimension.fabric}}</td>
                  <td ng-hide="measure.measurements[$index].edit" class="inputTd">
                    <md-input-container>
                      <input ng-enter="measure.updateRowButton($index)" ng-model="measure.measurements[$index].fabric" size="20"  aria-label="fabric">
                    </md-input-container>
                  </td>

                <td ng-show="measure.measurements[$index].edit">{{dimension.mount}}</td>

                <td ng-hide="measure.measurements[$index].edit" class="inputTd">
                  <md-input-container>
                    <input ng-enter="measure.updateRowButton($index)" ng-model="measure.measurements[$index].mount" size="10"  aria-label="mount">
                  </md-input-container>
                </td>

                <td ng-show="measure.measurements[$index].edit" id="removeIconPadding">
                  <md-button ng-click="measure.measurements[$index].edit = !measure.measurements[$index].edit;" class="md-icon-button" aria-label="edit">
                    <md-icon md-svg-icon="./img/edit.svg"></md-icon>
                  </md-button>
                </td>
                <td ng-hide="measure.measurements[$index].edit" id="removeIconPadding" class="inputTd">
                  <md-button ng-click="measure.updateRowButton($index)" class="md-icon-button" aria-label="edit">
                    <md-icon md-svg-icon="./img/check.svg"></md-icon>
                  </md-button>
                </td>
                <td ng-show="measure.measurements[$index].edit" id="removeIconPadding">
                  <md-button ng-click="measure.showConfirm($event, $index, measure.measurements[$index].id)" class="md-icon-button" aria-label="delete">
                    <md-icon md-svg-icon="./img/delete.svg" ng-hide=" measure.deleteId === $index"></md-icon>
                    <md-progress-circular md-mode="indeterminate" md-diameter="20" ng-show="measure.deleteId === $index"></md-progress-circular>
                  </md-button>
                </td>
                <td ng-hide="measure.measurements[$index].edit" id="removeIconPadding" class="inputTd">
                  <md-button ng-click="measure.showConfirm($event, $index)" class="md-icon-button" aria-label="delete">
                    <md-icon md-svg-icon="./img/delete.svg"></md-icon>
                  </md-button>
                </td>
              </tr>
              <tr layout-wrap id="inputRow">
                <form>
                  <td>
                    <md-input-container>
                      <input ng-enter="measure.addButton()" ng-model="measure.measurement.floor" size="6"  aria-label="floor">
                    </md-input-container></td>
                    <td><md-input-container>
                      <input ng-enter="measure.addButton()" ng-model="measure.measurement.room" size="6" aria-label="room">
                    </md-input-container></td>
                    <td><md-input-container>
                      <input ng-enter="measure.addButton()" ng-model="measure.measurement.quantity" size="6"  aria-label="quantity">
                    </md-input-container></td>
                    <td><md-input-container>
                      <input ng-enter="measure.addButton()" ng-model="measure.measurement.width" size="6"  aria-label="width">
                    </md-input-container></td>
                    <td><md-input-container>
                      <input ng-enter="measure.addButton()" ng-model="measure.measurement.length" size="6"  aria-label="length`">
                    </md-input-container></td>
                    <td>
                      <md-input-container>
                        <md-select ng-model="measure.measurement.ib_ob" aria-label="IB/OB"> <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
                          <md-option value="IB" aria-label="IB">IB</md-option>
                          <md-option value="OB" aria-label="OB">OB</md-option>
                        </md-select>
                      </md-input-container>
                    </td>
                    <td><md-input-container>
                      <input ng-enter="measure.addButton()" ng-model="measure.measurement.controls" size="6" aria-label="controls">
                    </md-input-container>
                  </td>
                  <td>
                    <md-input-container>
                      <input ng-enter="measure.addButton()" ng-model="measure.measurement.fascia_size" size="6" aria-label="fascia_size">
                    </md-input-container>
                  </td>
                  <td>
                    <md-input-container>
                      <input ng-enter="measure.addButton()" ng-model="measure.measurement.fabric" size="10"  aria-label="fabric">
                    </md-input-container>
                  </td>
                  <td>
                    <md-input-container>
                      <input ng-enter="measure.addButton()" ng-model="measure.measurement.mount" size="6"  aria-label="mount">
                    </md-input-container>
                  </td>
                  <td>
                    <md-button class="md-icon-button" aria-label="add" ng-click="measure.addButton()">
                      <md-icon md-svg-icon="./img/add.svg"></md-icon>
                    </md-button>
                  </td>
                  <td>
                    <md-button ng-click="measure.measurement = {}" class="md-icon-button md-primary" aria-label="clear">
                      <md-icon md-svg-icon="./img/clear.svg"></md-icon>
                    </md-button>
                  </td>
                </form>
              </tr>
            </tbody>
          </table>
          <form>
            <div id="notesDiv" layout="row">
              <md-input-container layout-align="start end" flex class="md-block" id="areaNotes">
                <label>Area Notes:</label>
                <textarea value="measure.areaNotes" ng-model="measure.areaNotes" ></textarea>
              </md-input-container>
            </div>
          </form>
          <div id="backToAreaButtonContainer">
            <md-button ng-click="measure.backToArea()" class="md-raised md-primary md-button md-ink-ripple back-to-area">
              <span>Save and Go Back to Areas</span>
            </md-button>
          </div>
          <span id="cardTitle"><a href="" ng-click="measure.goToTopOfPage()">Go To Top</a></span>
        </md-card-content>
      </md-card>
    </div>
  </div>
