<div class="company-info-header">
  <div class="client-name">
    <h3>Company Name</h3>
    <ul>
      <li>Street Address</li>
      <li>City, State</li>
      <li>Zip</li>
    </ul>
  </div>
  <div class="client-contact">
    <h3>Company Contacts</h3>
    <div class="primary-contact">
      <ul>
        <li>Name</li>
        <li>Number</li>
        <li>Email</li>
      </ul>
    </div>
    <div class="alt-contact">
      <ul>
        <li>Name</li>
        <li>Number</li>
        <li>Email</li>
      </ul>
    </div>
  </div>
  <div class="survey-info">
    <p>Survey#: 1111111</p>
    <a href="#">Edit Client Info</a>
  </div>
</div>

<section class="areas">
  <!-- ng-repeat divs for every area we have added plus one div for add new area-->
</section>
