
<md-content>
  <div layout="column" >
    <md-card layout-align="center center">
      <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Client Profile</span>
          </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form flex>
          <div layout="row" layout-align="start center">
            <md-input-container md-no-float flex-gt-xs>
              <input ng-model="profile.currentProfile.jobNumber" placeholder="Job Number">
            </md-input-container>
            <md-input-container md-no-float>
              <label>Survey Date</label>
              <md-datepicker ng-model="profile.currentProfile.surveyDate" placeholder="Survey Date"></md-datepicker>
            </md-input-container>
          </div>
          <md-input-container >
            <md-select name="type" ng-model="profile.currentProfile" placeholder="Repeat Client?">
              <md-option><em>None</em></md-option>
              <md-option value="Client 1">Client 1</md-option>
              <md-option value="Client 2">Client 2</md-option>
            </md-select>
          </md-input-container>

          <div layout="column" layout-align="center">

            <md-input-container md-no-float class="md-block" flex-gt-xs>
              <input ng-model="profile.currentProfile.client_name" placeholder="Company Name">
            </md-input-container>
            <md-input-container md-no-float class="md-block" >
              <input ng-model="profile.currentProfile.survey_address_street" placeholder="Street Address">
            </md-input-container>
            <md-input-container md-no-float class="md-block" >
              <input ng-model="profile.currentProfile.survey_address_city" placeholder="City">
            </md-input-container>
            <md-input-container md-no-float class="md-block" >
              <input ng-model="profile.currentProfile.survey_address_state" placeholder="State">
            </md-input-container>
            <md-input-container md-no-float class="md-block" >
              <input ng-model="profile.currentProfile.survey_address_zip" placeholder="Zip">
            </md-input-container>
            <md-checkbox id="profileCheckbox"
              aria-label="Checkbox 2"
              ng-model="profile.checkbox"
              ng-change="profile.copyAddress()"
              class="md-primary md-align-top-left" flex>
            Check If Billing Address Is The Same
          </md-checkbox>
          <md-input-container ng-if="!profile.checkbox" md-no-float class="md-block" >
            <input ng-model="profile.currentProfile.billing_address_street" placeholder="Billing Street Address">
          </md-input-container>
          <md-input-container ng-if="!profile.checkbox" md-no-float class="md-block" >
            <input ng-model="profile.currentProfile.billing_address_city" placeholder="Billing City">
          </md-input-container>
          <md-input-container ng-if="!profile.checkbox" md-no-float class="md-block" >
            <input ng-model="profile.currentProfile.billing_address_state" placeholder="Billing State">
          </md-input-container>
          <md-input-container ng-if="!profile.checkbox" md-no-float class="md-block" >
            <input ng-model="profile.currentProfile.billing_address_zip" placeholder="Billing Zip">
          </md-input-container>
            <md-input-container flex>
              <md-select name="type" ng-model="profile.type" placeholder="Company Contact">
                <md-option value="Bill">Bill</md-option>
                <md-option value="Cindy">Cindy</md-option>
              </md-select>
            </md-input-container>
            <md-input-container md-no-float class="md-block" >
              <input ng-model="profile.currentProfile.primary_contact_name" placeholder="Company Contact Name">
            </md-input-container>
            <md-input-container md-no-float class="md-block" >
              <input ng-model="profile.currentProfile.primary_contact_phone_number" placeholder="Phone Number">
            </md-input-container>
            <md-input-container md-no-float class="md-block" >
              <input ng-model="profile.currentProfile.primary_contact_email" placeholder="Email">
            </md-input-container>
            <md-input-container flex>
              <md-select name="type" ng-model="project.type" placeholder="Alt Company Contact">
                <md-option value="Bill">Bill</md-option>
                <md-option value="Cindy">Cindy</md-option>
                <md-option value="Steve">Steve</md-option>
              </md-select>
            </md-input-container>
            <md-input-container md-no-float class="md-block" >
              <input ng-model="profile.currentProfile.alt_contact_name" placeholder="Alt Company Contact Name">
            </md-input-container>
            <md-input-container md-no-float class="md-block" >
              <input ng-model="profile.currentProfile.alt_phone_number" placeholder="Alt Phone Number">
            </md-input-container>
            <md-input-container md-no-float class="md-block" >
              <input ng-model="profile.currentProfile.alt_contact_email" placeholder="Alt Email">
            </md-input-container>
          </div>
          <md-button ng-click="profile.submitButton()" class="md-raised md-primary" aria-label="submit">Submit</md-button>
        </form>
      </md-card-content>
    </md-card>

  </div>
</md-content>
