<div layout="row" layout-align="center center">
  <md-card flex="80">
    <md-card-content >
      <div class="survey-header" layout="row">
        <div class="client-info" layout="column" layout-align="center left">
          <div class="client-name" layout="row" layout-align="center left">
            <h1><i>{{survey.surveyDetails[0].client_name}}</i></h1>
          </div>
          <div class="client-name" layout="row" layout-align="center left">
            <ul class="client-address">
              <li>{{survey.surveyDetails[0].billing_address_street}}</li>
              <li>&nbsp• {{survey.surveyDetails[0].billing_address_city}},  {{survey.surveyDetails[0].billing_address_state}} •&nbsp</li>
              <li>{{survey.surveyDetails[0].billing_address_zip}}</li>

          </div>

          <div class="client-name" layout="row" layout-align="center left">
            <div class="client-contact" layout="column">
              <ul>
                <li><b>Primary Contact</b></li>
                <li>{{survey.surveyDetails[0].primary_contact_name}}</li>
                <li>{{survey.surveyDetails[0].primary_contact_phone_number}}</li>
                <li>{{survey.surveyDetails[0].primary_contact_email}}</li>
              </ul>
            </div>
            <div class="client-contact" layout="column">
              <ul ng-show="survey.surveyDetails[0].alt_contact_name.length">
                <li><b>Alternate Contact</b></li>
                <li>{{survey.surveyDetails[0].alt_contact_name}}</li>
                <li>{{survey.surveyDetails[0].alt_phone_number}}</li>
                <li>{{survey.surveyDetails[0].alt_contact_email}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="job-number" layout="column" layout-align="center right">
          <h1><i>Job# {{survey.surveyDetails[0].job_number}}</i></h1>
            <ul>
              <li><b>Completion Date:</b></li>
              <li>{{survey.surveyDetails[0].completion_date}}</li>
              <li><b>Survey Date:</b></li>
              <li>{{survey.surveyDetails[0].survey_date}}</li>
            </ul>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
<div layout="row" layout-align="center center" ng-repeat="area in survey.areaArray track by $index">
  <md-card flex="80">
    <md-card-content>
      <h3 class="areaName">Area: {{area[0].area_name}}</h4>
      <table style="width:100%" >
        <thead>
          <tr id="headerRow">
            <th>Floor</th>
            <th>Room</th>
            <th>Quantity</th>
            <th>Width</th>
            <th>Length</th>
            <th>IB/OB</th>
            <th>Controls</th>
            <th>Fascia Size</th>
            <th>Fabric</th>
            <th>Mount</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tableBodyRow" ng-repeat="measurements in area">
            <td>{{measurements.floor}}</td>
            <td>{{measurements.room}}</td>
            <td>{{measurements.quantity}}</td>
            <td>{{measurements.width | number : 2}}</td>
            <td>{{measurements.length | number : 2}}</td>
            <td>{{measurements.ib_ob}}</td>
            <td>{{measurements.controls}}</td>
            <td>{{measurements.fascia_size}}</td>
            <td>{{measurements.fabric}}</td>
            <td>{{measurements.mount}}</td>
          </tr>
        </tbody>
      </table>
      <p class="notes">
        <b>Notes:</b>
        {{area[$index].notes}}
      </p>
    </md-card-content>
  </md-card>
</div>
