@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
  }

  a,a:visited {
      text-decoration: underline;
  }

  a[href]:after {
      content: " (" attr(href) ")";
  }

  abbr[title]:after {
      content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,a[href^="javascript:"]:after {
      content: "";
  }

  pre,blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }


  table {
    border: 2px solid black;
    width: 100%;
  }
  /*thead {
      display: table-header-group;
  }*/
  td {
    border: 1px solid rgb(194, 194, 194) !important;
    border-collapse: collapse;
  }
  th {
    border-bottom: 2px solid black;
  }

  tr,img, .survey-area, .filePrint {
      page-break-inside: avoid;
  }


  img {
      max-width: 100% !important;
  }

  p,h2,h3 {
      orphans: 3;
      widows: 3;
  }

  h2,h3,tr {
      page-break-after: avoid;
  }

  #header, #footer, #nav, #surveyButtons, .fileInfo {
    display: none !important;
  }

  .filePrint {
    display: inline-flex;
  }

  .fileInfo {
    display: none;
  }

  iframe {
    display: inline-flex;
  }
}
