html, body {
  margin: 0;
  height: 100%;
}

table {
  font-family: 'Roboto', sans-serif;
}
nav {
  border-bottom: solid black 3px;
}
nav>ul>li {
  display: inline-block;
  list-style-type: none;
}

md-input-container{
  margin: 1px;
  height: 25.8990px;
}
md-toast{
  padding: 1px;
  height: 35px;
  max-width: 100px;
  min-width: 100px;
}
md-toast .md-toast-content{
  text-align: center;
  max-width: 100px;
  min-width: 100px;
  height: 28px;
  padding: 0;

}
md-toast .md-toast-content span {
  padding-bottom: 14px;
  padding-right: 0;
  padding-left: 0;
  max-width: 100px;
  min-width: 100px;
}
#notesDiv{
  padding: 3px;
  display: flex;
  align-items: center;
}
#profileCheckbox{
  margin: 2px;
  margin-left: 3px;
  margin-top: 5px;
  padding: 0;
}
#measurementTitle{
  padding: 4px;
}
#cardTitle{
  padding: 0;
}
#cardTitle a{
  color: rgba(0,0,0,0.87);
}
#measurementsTable td{
  padding: 1px;
}
#inputRow td{
  background-color: white;
  border-color: white;
}
#mdInput{
  padding: 1px;
}

#headerRow th {
  padding: 5px;
}
#headerRow{
  background-color: rgb(63,81,181);
  color: rgba(255,255,255,0.87);
  padding-top: 5px;
}
#tableBodyRow td{
  border: 1px solid;
  border-color: rgba(251, 247, 247, 0.91);
  padding-left: 5px;
}
#tableBodyRow #removeIconPadding{
  padding-left: 0;
}
#tableBodyRow md-input-container, input{
  padding: 0;
  margin: 0;

}
#saveAndGoBackButton button{
  margin-left: 0;
}
.headerRow th {
  padding: 5px;
}
#survey.headerRow{
  background-color: rgb(63,81,181);
  color: rgba(255,255,255,0.87);
  padding-top: 5px;
}

.inputTd{
  background-color: rgb(245, 231, 164);
}
.tableBodyRow td{
  border: 1px solid;
  border-color: rgba(251, 247, 247, 0.91);
  padding-left: 5px;
}
.tableBodyRow .removeIconPadding{
  padding-left: 0;
}
.tableBodyRow md-input-container, input{
  padding: 0;
  margin: 0;
}
tr:nth-child(odd) {
    background-color: rgb(234, 231, 235);
}
tr:nth-child(even) {
    background-color: rgb(211, 210, 212);
}
.survey-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.survey-header li {
  list-style-type: none;
}

.area-survey-header li {
  list-style-type: none;
}
.area-survey-header ul {
  padding:3px;
  margin: 0;
}
.area-survey-header h1 {
  padding:3px;
  margin: 0;
}

table {
  border: 1px;
}

.itemBtn:hover {
  cursor: pointer;

}

.company-info-header {
  display: flex;
  justify-content: space-around;
}

.company-info-header li {
  list-style-type: none;
}

.client-contact {
  display: flex;
}

#companyName {
  text-align: right;
}

.areas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.measurement-areas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  /*background-color: rgb(16,108,200);
  color: rgba(255,255,255,0.87);
  border-radius: 3px;*/
}
.for-delete {
  background-color: rgb(233, 47, 47);
}

.add-new-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  flex-wrap: wrap;
}

.area-input {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*#newJob {
  margin: 10px;
}*/

.itemBtn:hover {
  cursor: pointer;
}
.areaName {
  margin: 8px;
}
.client-name h1 {
  margin-top: 8px;
  margin-bottom: 0;

}
 .job-number h1 {
  margin: 8px;
}
.client-address li {
  float: left;
}
.client-address {
  margin-top: 4px;
  margin-bottom: 8px;
}
.notes {
  padding: 0 20px;
}

.content {
  min-height: calc(100vh - 73px);
}

footer {
  height: 50px;
  width: 100%;
  display: flex;
}

.footer-info {
  padding-top: 19px;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: rgb(63,81,181);
  color: rgba(255,255,255,0.87);
  text-align: center;
}
.columnSort:hover {
  cursor: pointer;
}
#dashCard {
  min-width: 750px;
}

.loggedOut {
  min-width: 730px;
}

.status-update {
  margin: 0px 0px 0px;
}
.md-select-placeholder {
  color: rgba(0,0,0,0.87) !important;
}

#goToTopButton {
  position: fixed;
  bottom: 6px;
  left: 25px;
}

/*md-card:last-child {
  margin-bottom: 30px;
}*/

#notesHeader {
  align-self: flex-start;
}

#areaNotes {
  margin-top: 20px;
  height: auto;
}

#backToAreaButtonContainer {
  display: flex;
  justify-content: center;
}
