nav {
  border-bottom: solid black 3px;
}
nav>ul>li {
  display: inline-block;
  list-style-type: none;
}

md-input-container{
  margin: 1px;
  height: 25.8990px;
}
#profileCheckbox{
  margin: 2px;
  margin-left: 3px;
  margin-top: 5px;
  padding: 0;
}
#measurementTitle{
  padding: 4px;
}
#cardTitle{
  padding: 0;
}
#cardTitle a{
  color: rgba(0,0,0,0.87);
}
#measurementsTable td{
  padding: 1px;
}
#inputRow td{
  background-color: white;
  border-color: white;
}

#headerRow th {
  padding: 5px;
}
#headerRow{
  background-color: rgb(63,81,181);
  color: rgba(255,255,255,0.87);
  padding-top: 5px;
}
#tableBodyRow td{
  border: 1px solid;
  border-color: rgba(251, 247, 247, 0.91);
  padding-left: 5px;
}
#tableBodyRow #removeIconPadding{
  padding-left: 0;
}
#tableBodyRow md-input-container, input{
  padding: 0;
  margin: 0;
}
tr:nth-child(odd) {
    background-color: rgb(234, 231, 235);

}
tr:nth-child(even) {
    background-color: rgb(211, 210, 212);
}
.survey-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.survey-header li {
  list-style-type: none;
}

table{
  border: 1px;
}

.itemBtn:hover {
  cursor: pointer;

}

.company-info-header {
  display: flex;
  justify-content: space-around;
}

.company-info-header li {
  list-style-type: none;
}

.client-contact {
  display: flex;
}

.areas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.measurement-areas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 10px;
}

.add-new-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 10px;
}

#newJob {
  margin: 10px;
}

.itemBtn:hover {
  cursor: pointer;
}
